body{
    font-family: 'Open Sans', sans-serif;  
}
*{
    margin:0px;
}

/* nav title */
.nav-title{

}
nav h3{
    
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav h3 span{
    color:#FD6E0A;
}

/* nav style */

nav ul{
    display: flex;
    float: right;
    list-style-type: none
}
nav ul li a{
    text-align: center;
    text-decoration: none;
  
    font-size: ;
    color#474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin:5px 5px 10px
}

